<?xml version="1.0"?>
<model>
  <name>mMonoco Iris with Single ToF</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Chee How</name>
   <email>cheehow_tan@mymail.sutd.edu.sg</email>
  </author>

  <description>
    This is a model of a monoco vtol with a single tof sensor.
  </description>
</model>
